.git
.data
node_modules
**/node_modules
**/dist
apps/desktop/release
release-server
**/test-results
**/playwright-report
**/coverage
**/.DS_Store
*.log

intrica.config.json
.env
.env.*
**/.env
**/.env.*
**/intrica.config.json
